
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container-footer {
    background-color: #102247;
    min-height: 400px;
    padding: 0 100px;
}


.content-footer-links {
    display: flex;
    align-items: center;
    column-gap: 80px;
}

.container-content-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 80px;
    height: 330px;
}

.content-footer-redes {
    display: flex;
    align-items: center;
    padding: 15px 0;
    column-gap: 20px;
}



.content-footer-links ul {
    list-style: none;
    color: #cfcfcf;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.content-footer-links ul li a {
    text-decoration: none;
    color: #cfcfcf;
}

.title-list {
    font-weight: bold;
}

.logo-footer {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 30px;
}


.logo-footer img {
    width: 80px;
}

.letras-footer img {
    width: 120px;
    padding-top: 12px;
}






.sub-entrada {
    display: flex;
}

.content-footer-sub p {
    color: #e1e1e1;
    padding-bottom: 15px;
}

.sub-entrada input {
    height: 50px;
    width: 220px;
    padding: 10px;
}

.sub-entrada button {
    padding: 5px 20px;
    cursor: pointer;
}



.svg-ig {
    width: 30px;
}

.svg-fb {
    width: 30px;
}

.svg-yt {
    width: 35px;
}

#selected {
    font-weight: 800;
    color: orange;
}